@model IEnumerable<HeathCheck1.Models.EspecialistaModel>
@{
    Layout = "_LayoutLogado";
}
@{
    ViewData["Title"] = "ListarEspecialista";
}

<h1 class="text-center">Especialistas</h1>


@foreach (var item in Model) {
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-1">
        <div class="col-md-4 mt-4">
          <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body text-center">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.name) @Html.DisplayFor(modelItem => item.sobrenome)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.email)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => item.telefone)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => item.registro)</p>
            <form action="https://calendar.google.com/calendar/u/0/r/day" target="_blank">
                     <input type="submit" value="Agendar" class="btn btn-primary">
             </form>
          </div>
        </div>
      </div>
    </div>
}