@model IEnumerable<HeathCheck1.Models.EspecialistaModel>
@{
    Layout = "_LayoutLogado";
}
@{
    ViewData["Title"] = "ListarEspecialista";
}

<h1>ListarEspecialista</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.registro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.registro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
          
           <td> 
           <a asp-controller="Agendamento" asp-action="Salvar" asp-route-id="@item.id">
                    <input type="submit" value="Agendar horario" class="btn btn-primary"
                     
                    ></a>
            </td> 
        </tr>
}
    </tbody>
</table>
